@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    position: relative;
} 
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    transition: .7s;

}
.active{
    transition: .7s;
  background:  #333;
}
h1{
  color:  #538cc6;
}

 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c6d9ec;
    margin-top: 30px;
    border-radius: 23px;
    padding: 14px;
    background:  #b3cce6;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4,68px);
    padding: 35px;
}

input{
    display: grid;
    grid-column: span 4 ;
    border: none;
    text-align: end;
    font-size: 60px;
    color: #4775d1;
    background-color: #ccffff;
    border-radius: 12px;
}
 
.calculate{
    display: grid;
    grid-column:span 2 ; 
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    padding: 30px;
    border-radius: 50px;
    color: #ccffff;
    background:  #4775d1;
    cursor: pointer;
    margin: 6px;
    font-size: 16px;
    font-weight: 500;
}
button:hover{
    background: #ccffff;
    color: #4775d1;
    transition: .4s;
}
.clear:hover{
    background: #800000 ;
    color: #fff;
    transition: .4s;

}

.theme-toggler{
    display: flex;
    align-items: center;
    justify-content: center;

}

.theme-toggler span{
    color:#4775d1;
}


.theme-toggler .toggler{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background:  #ccffff;
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}


.theme-toggler .toggler::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #fff;
    transition: .7s linear;
}


.theme-toggler.active .toggler::before{
    left: 65px;
}
